body{
	background-color: rgb(200,200,200);
}
header{
	background-color: grey;
	border-radius: 30px;
	padding-top: 1px;
}
nav{
	background-color: black;
	margin: 5px;
	position: relative;
	border-radius: 10px;
}
#logo{
	width: 30%;
}
#logo img{
	width: 100%;
	height: auto;
}
nav div{
	display: inline-block;
	color: gray;
}
#sub{
	display: none;
}
#explore img{
	width: 15px;
	height: auto;
	margin-left: 2px;

}
#explore img, #explore p{
	display: inline-block;
}
#sign_in, #explore, #upload{
	width: 9.5%;
	bottom: 10%;
	position: absolute;
	/*border:1px solid yellow;*/
	text-align: center;
	border-radius: 10px;
	height: auto;
	transition: box-shadow 0.3s, transform 0.3s;
}
#search {
	background-color: transparent;
	/*position: relative;*/
	margin-right: 5px;
	width: 100%;
	text-align: center;
	height: auto;
}
#search_bar{
	margin: auto;
	font-size: 20px;
	width: 200px;
	height: 40px;
	margin-left: -2px;
	background-color: black;
	color: lightgray;
	margin-bottom: 5px;
	margin-top: 5px;
	border: none;
	text-align: center;
	border-radius: 50px;
	transition: 0.5s
}
#search_bar:focus{
	height: 40px;
	width: 100%;
	border-radius: 10px;
	/*background-image: url(logo.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 100px 20px;*/

}
#upload{
	right: 5%;
	background-color: #efc600;
}
#upload div p{
	color: black;
	font-weight: bold;
	font-family: "Lucida Console";
}
#sign_in{
	right: 15%;
}
#explore{
	right: 25%;
}
#sign_in p,#explore p, #upload p{
	line-height: 4px;
}
#sign_in:hover, #explore:hover{
	box-shadow:2px 2px gray;
	transform: translate(-2px,-2px);
}
#upload:hover{
	box-shadow:2px 2px gray;
	transform: translate(-2px,-2px);
	background: linear-gradient(90deg, #efc600 , black );
	background-size: 200% 200%;
	animation: upbutton 1s ease infinite;
}
@keyframes upbutton{
	0%{background-position: 0% 84%}
   	50%{background-position: 100% 17%}
 	100%{background-position: 0% 84%}
}
#content{
	width: 100%;
	background-color: gray;
	margin-top: 2%;
	border-radius: 30px;
}
#content div{
	width: auto;
	display: inline-block;
	height: auto;
	display: flex;
}
#content div div{
	width: 22%;
	/*margin-top: 0px;*/
	height: auto;
	display: inline-block;
	margin: 1.4%;
}
#content div img{
	width: 100%;
	height: auto;
	border: 2px solid black;
	border-radius: 10px;
}
@media only screen and (max-width: 700px) {

	#logo{
		width: 50%;
	}
	#upload, #explore{
		width: 20%;
	}
	#sign_in{
		display: none;
	}
	#upload{
		right: 5%;
		background: linear-gradient(90deg, #efc600, white);
		animation: sbut 1s ease infinite;
		background-size: 200% 200%;
	}
	@keyframes sbut{
		 0%{background-position:84% 0%}
   		 50%{background-position:17% 100%}
 		 100%{background-position:84% 0%}
 	}
	#explore{
		right: 26%;
		text-align: left;
		text-indent: 8%;
	}
	#search_bar{
		width: 180px;
		text-align: center;
	}
	#upload:hover{
		animation: none;
		background-image: none;
		background: linear-gradient(90deg, #efc600, white);
		animation: sbut 1s ease infinite;
		background-size: 200% 200%;
	}
	#content div div{
		width: 45%;
		float: left;
	}
	#content div{
		display: inline-block;
		text-align: center;
	}
}
